<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300' rel='stylesheet' type='text/css'>

</head>


<body class="homepageContainer">

    <!--<div class="flexbox homepageContainer">-->

        <!--<div class="" style="background: white; color:black; text-align: center; padding:20px;">-->
            <!--<div class="container"><Danielle></Danielle> Schechter-->
                <!--<hr/>-->
                <!--work - contact - support-->
            <!--</div>-->



        <!--</div>-->


    <div class="container-fluid" style="background: black; border: 15px solid white; padding:30px;">

        <div class="projectsContainer">

            <div class="container" style="color:#454545; font-size:1.3em; font-weight:400;">

                <!--<h2>Danielle</h2>-->
                <!--<h4>UI - Product Design - Front-end  // Rails - Sass - React.js</h4>-->


                <h2 style="padding:0; font-size:2em; color:white; font-weight: 700; text-align:Center; font-family: 'Josefin Sans', sans-serif; ">
                    Danielle Schechter</h2>

            </div>
        </div>

    </div>

    <div class="container-fluid" style="background: #F01543; border: 15px solid white; border-top:0; padding:30px;">

        <div class="projectsContainer">

            <div class="container" style="color:#454545; font-size:1.3em; font-weight:400;">

                <!--<h2>Danielle</h2>-->
                <!--<h4>UI - Product Design - Front-end  // Rails - Sass - React.js</h4>-->
                <div class="col-md-6">

                       </br>

                       <p style="color:white">Where Design & Marketing Meet.</p>
                </div>
                 <div class="row">
                     <div class="col-md-6">

                <img src="http://danielleschechter.com/img/vendiagram.png" class="img-responsive" />
</div>

            </div>

                </div>
               </div>

    </div>
    <!--END CONTAINER FLUID-->



    <div class="container-fluid" style="background: url(http://blogstockphoto.com/wp-content/uploads/2014/09/Blurred-Background-Retina-Display.jpg); border: 15px solid white; border-top:0; padding:30px; min-height:700px; margin:0 auto;">

        <div class="projectsContainer">

            <div class="container text-center" style="color:#454545; font-size:1.3em; font-weight:400; text-algin:center">

                <!--<h2>Danielle</h2>-->
                <!--<h4>UI - Product Design - Front-end  // Rails - Sass - React.js</h4>-->


                <h2 style="font-size:2em; color:white; font-weight: 700; text-align:Center; font-family: 'Josefin Sans', sans-serif; ">
                    <image src="http://csvcus.homeaway.com/rsrcs/DB/894CE6B279F8CBA2B5BD90F5B076F8-birdhouse.png" width="50"/>
                    <br/>
                    HomeAway</h2>
                <hr/>

                <div class="row">
                    <div class="col-md-6">
                        <p style="color:white;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae augue mollis, ultrices ligula nec, tempor est. Nullam ac arcu efficitur, dictum arcu in, rhoncus erat. Integer fermentum aliquet auctor. Ut risus magna, ullamcorper eu commodo sit amet, consequat ut velit. Quisque massa enim, interdum sit amet est quis, condimentum ultrices erat. Morbi id placerat diam. Cras pellentesque laoreet augue at mattis. Nulla pellentesque bibendum accumsan. Phasellus ex elit, rhoncus et mauris et, venenatis tincidunt erat. Etiam aliquam vestibulum malesuada. Pellentesque bibendum lectus a ante blandit sodales. Nam elementum vestibulum condimentum. Pellentesque efficitur sed metus sed rhoncus.
                        </p>
                        <p><button style="background:none; border: 2px solid white; color:white;">View Project</button></p>
                    </div>

                    <div class="col-md-6">
                        <img src="http://static1.squarespace.com/static/53dd7f83e4b00e2a14fb3b70/54950e08e4b0fd2ebe25ae4d/54950e0be4b0ce400b97ebc7/1419054604626/flat-iphone-HB-Contact.png" class="img-responsive text-center" width="300"/>

                    </div>
                </div>








            </div>
        </div>

    </div>
    <!--END CONTAINER FLUID-->


    <div class="container-fluid" style="background: url(http://blogstockphoto.com/wp-content/uploads/2014/09/Blurred-Background-Retina-Display.jpg); border: 15px solid white; border-top:0; padding:30px; min-height:700px; margin:0 auto;">

        <div class="projectsContainer">

            <div class="container text-center" style="color:#454545; font-size:1.3em; font-weight:400; text-algin:center">

                <!--<h2>Danielle</h2>-->
                <!--<h4>UI - Product Design - Front-end  // Rails - Sass - React.js</h4>-->


                <h2 style="font-size:2em; color:white; font-weight: 700; text-align:Center; font-family: 'Josefin Sans', sans-serif; ">
                    <!--<image src="http://csvcus.homeaway.com/rsrcs/DB/894CE6B279F8CBA2B5BD90F5B076F8-birdhouse.png" width="50"/>-->
                    <!--<br/>-->
                    Ticketevolution.com</h2>


                <hr/>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <span class="portItem">UI</span> <span class="portItem">UX</span> <span class="portItem">JavaScript</span> <span class="portItem">CSS</span> <span class="portItem">HTML</span> <span class="portItem">Node.js</span>
                        </div>

                        <p style="color:white; padding-top:20px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae augue mollis, ultrices ligula nec, tempor est. Nullam ac arcu efficitur, dictum arcu in, rhoncus erat. Integer fermentum aliquet auctor. Ut risus magna, ullamcorper eu commodo sit amet, consequat ut velit. Quisque massa enim, interdum sit amet est quis, condimentum ultrices erat. Morbi id placerat diam. Cras pellentesque laoreet augue at mattis. Nulla pellentesque bibendum accumsan. Phasellus ex elit, rhoncus et mauris et, venenatis tincidunt erat. Etiam aliquam vestibulum malesuada. Pellentesque bibendum lectus a ante blandit sodales. Nam elementum vestibulum condimentum. Pellentesque efficitur sed metus sed rhoncus.
                        </p>
                        <!--<p><button style="background:none; border: 2px solid white; color:white;">View Project</button></p>-->


                    </div>

                    <div class="col-md-8">
                        <img src="http://static1.squarespace.com/static/53dd7f83e4b00e2a14fb3b70/54950e08e4b0fd2ebe25ae4d/54950e0be4b0ce400b97ebc7/1419054604626/flat-iphone-HB-Contact.png" class="img-responsive text-center" width="300"/>

                    </div>
                </div>








            </div>
        </div>

    </div>
    <!--END CONTAINER FLUID-->




</div>







</body>
</html>
